/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.sections {
    width: 100%;
}

.bg1 {
    background:  url('../img/head_section_bg_1600x670.jpg') no-repeat;
    background-size: cover;
    height: 670px;
}

.section1 {
    width: 960px;
    margin: 0 auto;
    height: 670px;
}

.menu {
    width: 100%;
}

.logo  {
    float: left;
}

#logo-img {
    
    width: 128px;
    height: 50px;
    display: block;
    margin: 15px 15px;
    background: url('../img/logo_128x50.png') no-repeat;
}

.menu_bar {
    float: right;
    padding-top: 15px;
}

.inline-menu li {
    display: inline;
}

.inline-menu li a {
    margin: 10px;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

.inline-menu li a:hover {
    color: #00e0d0;
}

.company {
    width: 100%;
    float: left;
    padding-top: 100px;
}

.company h1 {
    text-align: center;
    color: #FFFFFF;
}

.line {
    display: block;
    width: 50px;
    height: 0px;
    margin: auto;
    border: 1px solid #00e0d0;
}

.company p {
    text-align: center;
    color: #FFFFFF;
    margin: 30px 90px 0px 90px;
}

.box {
    width: 100%;
    padding-top: 50px;
}

.box a{
    display: block;
    height: 30px;
    width: 120px;
    border: 2px solid #00e0d0;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
    padding-top: 10px;
    color: #00e0d0;

}

.box a:hover {
    color: #FFF;
    background-color: #00e0d0;
}

.circles {
    padding: 0;
    text-decoration: none;
    width: 100px;
    margin: 80px auto;

}

.circles li  {
    display: inline;
    width: 10px;
    height: 10px;
    margin: 0 auto;
}

.circles li a{ 
    float:left;
    display: block;
    height: 10px;
    width: 10px;    
    border: 1px solid #FFF;
    border-radius: 10px;
    margin: 5px;
}

.circles li a:hover{
    background-color: #00e0d0;
    border: 1px solid #00e0d0;
} 

.section2 {
    width: 960px;
    margin: 0 auto;
    height: 400px;
}

.left1 {
    float: left;
    width: 310px;
    padding-right: 100px;
}

.left1 img {
    float: right;
    margin :70px 0 0 0;
}

.right1 {
    float:left;
    padding-top: 40px;
    height: 100%;
}

.right1 p{
    width: 550px;
    color: #413d4b;
    margin: 30px 0;
}

.box2 {
    width: 0px;
    padding-top: 10px;
}

.bg2 {
    background:  url('../img/Image-put-it-under-gredient.png') no-repeat;
    background-size: cover;
    height: 550px;
}

.section3 {
    width: 960px;
    margin: 0 auto;
    height: 550px;
    padding-top: 200px;
}

.play {
    margin: auto;
    width: 144px;
}

.section3 h3 {
    color: #FFF;
    text-align: center;
}

.play a {
    display: block;
    width: 125px;
    height: 120px;
    background:  url('../img/Play-button.png') no-repeat;
}

.play a:hover {
   background:  url('../img/Play-button.png') no-repeat; 
}

.section4 {
    width: 960px;
    margin: 0 auto;
    height: 700px;
    padding-top: 60px;
}

.section4 h3 ,.section4 p {
    text-align: center;
    margin-bottom: -10px;
}

.section4 p {
    color: #413d4b;
}

.sep {
    margin: auto;
    display: block;
    width: 50px;
    border: 1px solid #413d4b;
    margin-top: 30px; 
}

.empty {
    height: 80px;
    width: 100%;
}

.img-cont {
    width: 100%;
    margin-left: 10px;
    height: 220 px;
}

.exp {
    height: 220px;
    width: 310px;
    float: left; 
}

.border-right {
    border-right: 1px solid #413d4b;
}

.image {
    margin: 
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 70px;
    background:  url('../img/a.png') no-repeat;
}

.long-line {
    margin: auto;
    display: block;
    width: 100%;
    border: 1px solid #413d4b; 
    float: left;
}

.bg3 {
    background:  url('../img/teambg.jpg') no-repeat;
    background-size: cover;
    height: 710px;
}

.section5 {
    width: 960px;
    margin: 0 auto;
    height: 650px;
    padding-top: 60px;
}

.section5 h3 ,.section5 p {
    text-align: center;
    margin-bottom: -10px;
}

.section5 p {
    color: #413d4b;
}

.bg-cont {
    margin: 0 auto;
    width: 960px;
    height: 310px;
}

.container {
    float: left;
    height: 308px;
    width: 22%;
    margin:0 10px;
    text-align: center;
}

.exp1 {
    background-color: white;
    height: 230px;
} 

.container p{
    color: #FFF;
    margin-top: 20px;
}

.borders {
    border: 1px solid grey;
}

.section5 .box a {
    width: 140px;
    margin-top: 30px;
}

.section6 {
    width: 960px;
    margin: 0 auto;
    height: 600px;
    padding-top: 50px;
}
.left6 {
    padding-left: 10px;
    width: 550px;
    height: 560px;
    float: left;
}

.right6 {
    padding-left: 10px;
    width: 390px;
    height: 500px;
    float: left;
}

.name {
    width: 460px;
    height: 40px;
    margin:5px 0;
}

.textarea {
    height: 200px;
}

.box3 {
    width: 120px;
    height: 40px;
}

.client {
    width: 162px;
    height: 25px;
    float: left;
    margin: 20px 0 30px 0;
}

.rightt {
    float: right;
}

.bg4 {
    background:  url('../img/footer.jpg') no-repeat;
    background-size: cover;
    height: 400px;    
}

.section7 {
    width: 960px;
    margin: 0 auto;
    height: 340px;
    padding-top: 60px;
}

.abc {
    width: 100%;
    margin-left: -10px;
}

.part {
    width: 310px;
    padding-left: 10px;
    height: 325px;
    float: left;
}

.lorem {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.lorem p {
    color: #FFF;
}

.links {
    padding-top: 60px;
}

.links a {
    float: left;
    color: #FFF;
    text-decoration: none;
    font-size: 10pt;
    margin-right: 20px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}