/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#container {
    width: 450px;
    margin: 0 auto;
    display: block;
    border: 2px solid ;
    border-radius: 5px;
    border-color: grey;
    padding: 10px 20px;
}


#form-container h1 {
    margin: 0 auto;
    width: 215px;
}

#form-container h2 {
    margin-bottom: 0px;
}

#task {
    height: 30px;
    width: 73%;
    border: 2px solid ;
    border-color: grey;
}
#add {
    height: 30px;
    border: 2px solid ;
    border-color: grey;
    width: 23%;
    border-radius: 5px;
    margin-left: 2%;
}

#task_desc {
    height: 50px;
    width: 98%;
    border: 2px solid ;
    border-color: grey;
    margin-top: 5px;
    color: grey;
}

#separator {
    margin: 0 auto;
    display: block;
    border: 1px solid ;
    border-color: grey;
    height: 0px;
    margin-top: 30px;
    width: 40%;
}

.tasks {
    position: relative;
    width: 94%;
    margin :10px auto;
    display: block;
    border: 2px solid ;
    border-color: grey;
    border-radius: 5px;
    padding:2% 0 2% 5% ;
}

.tasks div {
  width: 90%;
  border-right :2px solid;
  border-color: grey;
}

.tasks div h2,.tasks div h3,.tasks div p {
  margin: 0;
}

.tasks div p {
  color:grey;
  font-weight: bold;
}

.tasks button {
  width: 7%;
  position:absolute;
  top: 33%;
  height :38%;
  left: 92%;
  border: 2px solid ;
  border-color: grey;
  border-radius: 5px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}